{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}
{% block body %}

    <div class="profile-container flex-col align-start justify-space-around full-width">
        <div class="title font-roboto font-size-title text-align-center margin-horizontal-center
            margin-top-md margin-bottom-lg">Profile</div>
        <div class="flex-row justify-space-between full-width">
            <div class="flex-col width-30 justify-space-between align-center padding-sm text-align-center box-sizing-border">
                <div class="picture-container padding-md margin-horizontal-center text-align-center position-relative box-sizing-border bordered ">
                    {% if picture | length > 0 %}
                    <img src="{{ asset('uploads/' ~ picture) }}"
                         class="profile-picture width-50 displayed">
                    {% endif %}
                    {% if picture | length == 0 %}
                    <img src="{{ asset('build/images/avatar_default_512px.png') }}"
                         class="profile-picture width-50 displayed">
                    {% endif %}
                    <form action="{{ path('upload_profile_picture') }}"
                          method="POST"
                          enctype="multipart/form-data"
                          class="dropzone not-displayed padding-md margin-horizontal-center text-align-center position-relative box-sizing-border bordered"></form>
                    <div class="position-absolute avatar-pencil-position font-size-20 icon-action color-blue"><i class="icon-pencil"></i></div>
                </div>
                <div class="uuid-container padding-md text-align-left box-sizing-border bordered flex-col align-start">
                    <span class="font-size-label color-nuance font-condensed capitalized">Identifiant</span>
                    <span class="font-size-label color-black font-condensed upper-case">{{ uuid }}</span>
                </div>
                <!-- données uuid et données stockage -->
            </div>
            <div class="flex-col width-70 justify-start align-center padding-sm text-align-left box-sizing-border">
                <div class="flex-col width-100 user-info-container padding-md margin-auto text-align-left box-sizing-border bordered">
                    {{ form_start(profile_form) }}
                    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
                        {{ form_label(profile_form.lastName,null,
                            {
                                'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                                'label': 'Nom : '
                            })
                        }}
                        {{ form_widget(profile_form.lastName,{
                            'attr': {
                                'class': 'font-size-text color-blue border-none font-roboto capitalized rounded-border',
                                'placeholder': 'Nom'
                            },
                            'value': profile_form.vars.value.lastName,
                        }) }}
                    </div>
                    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
                        {{ form_label(profile_form.firstName,null,
                            {
                                'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                                'label': 'Prénom : '
                            })
                        }}
                        {{ form_widget(profile_form.firstName,{
                            'attr': {
                                'class': 'font-size-text color-blue border-none font-roboto capitalized rounded-border',
                                'placeholder': 'Prénom'
                            },
                            'value': profile_form.vars.value.firstName
                        }) }}
                    </div>
                    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
                        {{ form_label(profile_form.user.email,null,
                            {
                                'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                                'label': 'Email : ',
                            })
                        }}
                        {{ form_widget(profile_form.user.email,{
                            'attr': {
                                'class': 'font-size-text color-blue border-none font-roboto rounded-border',
                                'placeholder': 'Email'},
                            'value': profile_form.user.vars.value.email
                        }) }}
                    </div>
                    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
                        {{ form_label(profile_form.username,null,
                            {
                                'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                                'label': 'Nom d\'utilisateur: ',
                            })
                        }}
                        {{ form_widget(profile_form.username,{
                            'attr': {
                                'class': 'font-size-text color-blue border-none font-roboto rounded-border',
                                'placeholder': 'Nom d\'utilisateur'},
                            'value': profile_form.vars.value.username
                        }) }}
                    </div>
                    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
                        {{ form_label(profile_form.user.password,null,
                            {
                                'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                                'label': 'Mot de passe : '
                            })
                        }}
                        {{ form_widget(profile_form.user.password,{
                            'attr': {
                                'class': 'font-size-text color-blue border-none font-roboto rounded-border',
                                'placeholder':'Mot de passe'},
                            'value':profile_form.user.vars.value.password
                        }) }}

                    </div>
                    <div class="flex-col justify-start align-start text-align-left form-button-container padding-top-md">
                        <div>
                        {{ form_widget(profile_form.update, {
                            'attr': {
                                'class': 'font-size-link font-alata upper-case color-blue button padding-md profile-update-button'
                            },
                            'label': 'Mettre à jour'
                        }) }}
                        </div>
                    </div>

                    {{ form_end(profile_form) }}
                </div>
            </div>
            {#  <div class="flex-col">
                <div class="profil-form-label">{{ form_label(profile_form.nom) }}</div>
            </div>#}
        </div>
    </div>
    <div class="profile-menu-container flex-row justify-space-around margin-md">
        <div>
            <a href="{{ path('conversation') }}">Conversations</a>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}