{% for invitation in invitations %}

    {% set picture_file_path="build/images/avatar_default_512px.png" %}

<div id="invitation-sending-container-id" class="flex-row justify-start full-width margin-bottom-md margin-top-lg">
    <div class="flex-col width-03 min-width-03 {{ invitation.etat }}-tag box-sizing-border">

    </div>
    <div class="flex-col width-97 box-sizing-border">
        <div class="flex-row justify-space-between align-center text-align-left padding-top-sm padding-left-sm ">
            <figure class="width-20 ">
                {% if invitation.guest.Picture|length != 0 %}
                    {% set picture_file_path="uploads/"~invitation.guest.Picture %}
                {% endif %}
                <img class="width-100" src="{{ asset(picture_file_path) }}"/>
            </figure>
            <div class="width-60 font-roboto font-size-md padding-left-md">
                {{ invitation.guest.FirstName ~ " " ~ invitation.guest.LastName }}
            </div>
            <div class="flex-row justify-center width-20 color-{{ invitation.etat }} font-size-xs font-alata upper-case">
                {{ invitation.nomEtat }}
            </div>
        </div>
        {% if invitation.etat == 'pending' %}
        <div class="flex-row justify-start padding-left-sm padding-top-md">
            <button class=" cancel-invitation-button button-jaune font-alata font-size-sm padding-top-md padding-bottom-md padding-left-xl padding-right-xl rounded-border upper-case">
                ANNULER
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
