{{ form_start(nouvelle_conversation_form,{'method':'POST',
    'class':'nouvelle-conversation-form-container',
    'data-href': path('nouvelle_conversation')
    }) }}
    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
        {{ form_label(nouvelle_conversation_form.titre,null,
            {
                'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                'label': 'Nom : '
            })
        }}
        {{ form_widget(nouvelle_conversation_form.titre,{
            'attr': {
                'class': 'font-size-text color-blue border-none font-roboto capitalized rounded-border',
                'placeholder': 'Titre'
            },
            'value': nouvelle_conversation_form.vars.value.titre,
        }) }}
    </div>
    <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm">
        {{ form_widget(nouvelle_conversation_form.creer, {
            'label': 'Créer la conversation',
            'attr': {
                'class' : 'font-size-link font-alata upper-case color-blue button padding-md profile-update-button'
            }
        }) }}
    </div>
{{ form_end(nouvelle_conversation_form) }}
<div>
</div>
